/* 16px=1rem */
*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.header {
  background: linear-gradient(
    269.91deg,
    rgba(46, 49, 146, 0.7) 0%,
    rgba(212, 20, 90, 0.7) 98.16%
  );

  padding-top: 2.3rem;
  padding-bottom: 2.6rem;
  color: #fff;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__telephone-img {
  width: 2rem;
  height: 2rem;
  margin-right: 1.5rem;
}

.header__maps-img {
  width: 1.5rem;
  height: 2.5rem;
  margin-right: 1.5rem;
}

.header__inst-img {
  width: 3rem;
  height: 3rem;
  margin-right: 1.5rem;
}

.header__inst,
.header__maps,
.header__telephone {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 63%;
}

.header__telephone-text span:nth-child(1) {
padding-right: 1.2rem;
}

.header__maps span {
  line-height: 107%;
}

.header__inst span {
  line-height: 100%;
}

/* /////////////////////////// */
.main-display {
  padding-top: 4.7rem;
}
.main-display__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-display__logo {
  display: flex;
  align-items: center;
}

.main-display__logo-img {
  width: 10rem;
  height: 6rem;
  margin-right: 1.1rem;
}
.main-display__logo-text {
  font-style: italic;
  font-weight: 900;
  font-size: 3.6rem;
  line-height: 117%;
}

.main-display__nav {
  display: flex;
}

.main-display__nav li {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 117%;
  color: #737373;
}

.main-display__nav li:not(:last-child) {
  padding-right: 2.5rem;
}

.main-display__center {
  display: flex;
  justify-content: space-between;
}

.main-display__header {
  margin-bottom: 1rem;
  font-weight: 900;
  font-size: 5rem;
  line-height: 118%;
  margin: 0;
}

.main-display__subheader {
  margin-bottom: 0.5rem;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 117%;
  padding: 2rem 0;
}

.main-display__button {
  font-weight: 900;
  font-size: 2rem;
  line-height: 115%;
  text-align: center;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 0.7rem;
  background: linear-gradient(95.2deg, #b90160 2.23%, #2e3192 99.51%);
  padding: 1.5rem 3rem;
  text-transform: uppercase;
  cursor: pointer;
}

.main-display__left {
  padding-top: 19rem;
}

.main-display__right {
  width: 68.6rem;
  height: 53.3rem;
}
/* ////////////// */
.about__header {
  font-size: 5rem;
  font-weight: 400;
  line-height: 118%;
  text-align: center;
  
}

.about__header span {
  background: rgb(61, 91, 245);
  background: linear-gradient(
    0deg,
    rgba(61, 91, 245, 1) 0%,
    rgba(185, 1, 96, 1) 47%,
    rgba(185, 1, 169, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about__items {
  /* display: flex;
  justify-content: space-between; */

  display: grid;
  grid-template-columns: repeat(3, 29%);
  gap: 0 6.1rem;
  margin-right: -4.1rem;
  padding: 12rem 0;
}

.about__item {
  /* width: 29%; */
  border-radius: 0.9rem;
  overflow: hidden;
  box-shadow: 0px 0px 40px rgba(184, 0, 95, 0.2);
}

.about__item-description {
  background-color: #fff;
  padding: 5%;
}

.about__item-header {
  font-weight: 900;
  font-size: 3.6rem;
  line-height: 117%;
}

.about__item-text {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 114%;
  color: #767676;
}

.about__item-img {
  width: 100%;
  height: 21.5rem;
}

.about__item-img  img {
  object-fit: cover;
}

/* /////////////// */
.footer {
  position: relative;
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17.2rem 12rem 8.4rem;
}

.footer__header {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 114%;
}

.footer__inst-img {
  width: 3.3rem;
  height: 3.3rem;
}

.footer__adress ul {
  max-width: 22.4rem;
}

.footer__adress  li:nth-child(1) {
padding-bottom: 1.2rem;
}

.footer__decor-1 {
  width: 11rem;
  height: 12.5rem;
  position: absolute;
  top: 47%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.footer__decor-2 {
  width: 23.3rem;
  height: 26.4rem;
  position: absolute;
  top: 47%;
  left: 76%;
  transform: translate(-50%, -50%);
}

.footer__wrap li {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 114%;
}
